.navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 2rem;
    align-items: center;

}

.navbar ul li {
    list-style: none;
    margin-left: 2rem;
}

.active {
    color: orangered;
}

.booklist {
    list-style: none;
    padding: 2rem;
    font-size: 1.5rem;
}